{%extends "base.html"%}
{%block start%}
<h1>Django About Page</h1>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjX0UTl8R5NWT+8HR81VK4F8DmChRT5Yub9vZk1C2w/TPf3ShZfjbE"
    crossorigin="anonymous"></script>

<hr>
<a href="/contact/">Contact</a> ||
<a href="/">Index</a>
<hr>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, aspernatur.</h2>

<!-- {{ldt_peopple}} -->
<hr>
<!-- <p>
        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
    </p> -->

<p>
    THis is the trunacated Chars:
    <br>
    {{wholetext|truncatechars:100 }}
</p>
<p>
    this is the vegetable name that is passed:
    <br>
    {% if 'choli' in a_vegetables %}
    Yes required vege is present.
    {% elif 'tomato1' in a_vegetables %}
    Tomatoes is presnet, so that will work.
    {%else%}
    Requried vege is not present.
    {%endif %}
</p>
{%endblock%}